doctype html
html
    head
        link(href="./index.css" rel="stylesheet")
        link(href="../modules/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet")
    body
        header
            .container
                a(href="#").logo H.
                nav
                    - var navi = ["Home", "About Us", "Services", "Portofolio", "Contact", "Blog"]
                        each item in navi
                            a(href="#" class=`${item.toLowerCase()}`)= item
        main
            section.hero
                .container
                    .hero-text-container
                        h1.title Saya Hapdesmith
                        p.description Saya adalah gamer dan programmer
                        a(href="#").btn.btn-primary Hire Me
                    .hero-image
                        img(src="../images/hero_img.png" alt="hapdmesith hero image")
            section.about
                .container
                    h2.section-title.left About Me
                    .section-body
                        .description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nu pariatur excepteur sint occaecat.
                        a(href="#").btn.btn-medium.btn-primary View Works
                        a(href="#").btn.btn-medium.btn-o-primary Download CV
            section.services
                .container
                    h2.section-title Services
                    .section-body
                        .description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .box-container
                            mixin boxStyle(color, icon, title)
                                .box(class=`box-${color}`)
                                    .text-container
                                        i.fa(class=`fa-${icon}`)
                                        .title=title
                                        .box-description
                                            block
                            +boxStyle('blue', 'bar-chart-o', 'UX RESEARCH')
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit 1
                            +boxStyle('yellow', 'file-code-o', 'WEB DEVELOPMENT')
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit 2
                            +boxStyle('red', 'gears', 'APP DESIGN')
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit 3
                            +boxStyle('green', 'gamepad', 'WEB DESIGN')
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit 4
            section.works
                .container
                    h2.section-title Latest Work
                    .section-body
                        .description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .filter-box
                            a(href="#" data-filter="*").is-selected All
                            a(href="#" data-filter=".uix") UI / UX
                            a(href="#" data-filter=".fe") Frontend Dev
                            a(href="#" data-filter=".ph") Photography

                        mixin gridStyle(title, imageName, workType, sizeType = '')
                            .grid-item(class=`${workType.join(" ")} ${sizeType}`)
                                .item
                                    img(src=`../images/${imageName}.jpg`)
                                a(href="#").info
                                    i.fa.fa-search
                                    h2=title.toUpperCase()
                                    span=workType.join(" , ").toUpperCase()
                                    

                        .grid
                            .grid-sizer
                            +gridStyle('judul work a','work-a', ['uix', 'fe'], 'grid-big')
                            +gridStyle('judul work c','work-c', ['uix', 'ph'])
                            +gridStyle('judul work d','work-d', ['uix', 'fe', 'ph'])
                            +gridStyle('judul work e','work-e', ['fe'])
                            +gridStyle('judul work f','work-f', ['uix'])
                            +gridStyle('judul work g','work-g', ['uix'])
                            +gridStyle('judul work h','work-h', ['ph', 'fe'])
                            +gridStyle('judul work i','work-b', ['ph'], 'grid-big-h')
            section.experiences
                .container
                    h2.section-title Work Experiences
                    .section-body
                        .description
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .exp-box-container
                            mixin expBoxStyle(date, jobTitle, company)
                                a(href="#").exp-box
                                    .date=date
                                    .job-title=jobTitle
                                    .company=company
                                    .job-desc
                                        block
                            +expBoxStyle('June 2019 - Des 2019', 'UI/UX Designer', 'Google')
                                p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.
                            +expBoxStyle('Jan 2020 - June 2020', 'UI/UX Designer', 'Youtube')
                                p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.
                            +expBoxStyle('July 2020 - Des 2020', 'UI/UX Designer', 'Facebook')
                                p Lorem ipsum dolor sit amet, coectetur adipisicing elit, sed do eiusmod temp incididunt ut labore.
            section.call-to-action
                .container
                    h2.section-title Have Any Project in Mind ?
                    a(href="#").btn.btn-o-primary Hire Me
            section.contact
                .container
                    h2.section-title Contact Me
                    .section-body
                        .contact-info
                            .info-title Contact Info
                            .info
                                i.fa.fa-map-marker
                                span Los Angeles, Belok kanan dikit
                            .info
                                i.fa.fa-envelope
                                span emailku@hapdesmith.com
                            .info
                                i.fa.fa-phone
                                span 
                                    | +081232323 <br/>
                                    | +081232323
                            .info
                                i.fa.fa-globe
                                span www.hapdesmith.com
                            .info-title Follow Me
                            .social-media
                                a(href="#")
                                    i.fa.fa-facebook
                                a(href="#")
                                    i.fa.fa-twitter
                                a(href="#")
                                    i.fa.fa-linkedin
                                a(href="#")
                                    i.fa.fa-pinterest-p
                                a(href="#")
                                    i.fa.fa-vimeo
                        .contact-form
                            mixin inputStyle(label, plc, id, type="")
                                .input-group
                                    label(for=`${id}`)=label
                                    if type == 'textarea'
                                        textarea(placeholder=`${plc}` id=`${id}` rows="10")
                                    else
                                        input(type="text" placeholder=`${plc}` id=`${id}`)
                            .rows
                                +inputStyle("Name", "Type your name", "inp-name")
                            .rows
                                +inputStyle("Phone Number", "Type your phone number", "inp-phone-number")
                                +inputStyle("Email", "Type your email address", "inp-email")
                            .rows
                                +inputStyle("Your Message", "Type your message here", "texta-message", "textarea")
                            a(href="#").btn.btn-primary.btn-small Send Message
                            
    script(src="../modules/jquery.min.js")
    script(src="../modules/isotope.pkgd.min.js")
    script(src="../main.js")
                    
        

